@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*,
*:before,
*:after {
    box-sizing: border-box;
}

button{
    outline: none !important;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    --scrollbarBG: #CFD8DC;
    --thumbBG: #B8B7B7;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.app_layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 100px 250px 1fr;
    grid-template-rows: auto 1fr auto;
}

@media (max-width: 800px) {
    .app_layout {
        grid-template-columns: 80px 170px 1fr;
    }
}

/* Our Grid Code */
.header-grid {
    grid-column: 3;
    grid-row: 1;
}

.input {
    grid-column: 3;
    grid-row: 3;
}

.icon-bg-white:hover {
    background: rgba(0, 0, 0, .3);
}

.home-icon:hover{
    background: rgba(0,0,0,0.09);
}

.scroll-smooth {
    scroll-behavior: smooth;
}

.outline-disable {
    outline: none !important;
}

.title-line{
    width: 1px;
height: 12.5px;
    transform: translateX(-10px);
}

.home-get-started {
    clip-path: ellipse(75% 100% at center top);
}

@media(max-width:1024px) {
    .home-get-started {
        clip-path: ellipse(105% 100% at center top);
    }
}

