@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;

}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif !important;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);

}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
}

.app_layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 100px 250px 1fr;
    grid-template-rows: auto 1fr auto;


}

@media (max-width: 568px) {
    .app_layout {
        min-height: 100vh;
    }
}

@media (max-width: 800px) {
    .app_layout {
        grid-template-columns: 80px 170px 1fr;
    }
}

.box {
    padding: 1em;
    text-align: center;
}

/* Our Grid Code */

.header-grid {
    grid-column: 3;
    grid-row: 1;
}

.messages {
    grid-column: 3;
    grid-row: 2;
}

@media (max-width: 568px) {
    .messages {
        height: 100vh;
    }
}

.input {
    grid-column: 3;
    grid-row: 3;
}

.icon-bg-white:hover {
    background: rgba(0, 0, 0, .3);
}

.scroll-smooth {
    scroll-behavior: smooth;
}

.right-5 {
    right: 5px;
}

.outline-disable {
    outline: none !important;
}

.scroll-bottom-button-active {
    transform: scaleX(1) scaleY(1);
}

.scroll-bottom-button-disable {
    transform: scaleX(0) scaleY(0);
}

.scroll-bottom-button {
    padding: 5px;
    background-color: rgba(0, 0, 0, .3);
    transition: .1s;
}

.scroll-bottom-button:focus,
.scroll-bottom-button:hover {
    background-color: rgba(0, 0, 0, .4);
}
