.ReactModal__Content {
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    background-color: white;
    border-radius: 50px;
    outline: none;
}



.ReactModal__Overlay {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .7) !important;
    overflow-y: scroll;
}

@media(max-width:1100px) {
    .ReactModal__Content {
        width: 50%;
    }
}

@media(max-width:600px) {
    .ReactModal__Content {
        width: 75%;
    }
}

.my-modal {}