.team_list:hover {
    border-width: thick;
    border-style: solid;
}

.create_team {
    position: fixed;
    bottom: 0;
}

.teams {
    grid-column: 1;
    grid-row: 1 / 4;
    padding: 0.5rem 0px;
}

.team-icon:hover {
    background-color: rgba(0, 0, 0, .3);
}